.socials__link {
    @include no-text();
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/social/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.49;
    
    &_fb {
        background-image: url(../img/icons/social/facebook.png);
    }
    
    &_inst {
        background-image: url(../img/icons/social/instagram.png);
    }
    
    &_ok {
        background-image: url(../img/icons/social/ok.png);
    }
    
    &_tw {
        background-image: url(../img/icons/social/twitter.png);
    }
    
    &_vk {
        background-image: url(../img/icons/social/vkontakte.png);
    }
    
    &_fb:hover {
        background-image: url(../img/icons/social/facebook-hover.png);
    }
    
    &_inst:hover {
        background-image: url(../img/icons/social/instagram-hover.png);
    }
    
    &_ok:hover {
        background-image: url(../img/icons/social/ok-hover.png);
    }
    
    &_tw:hover {
        background-image: url(../img/icons/social/twitter-hover.png);
    }
    
    &_vk:hover {
        background-image: url(../img/icons/social/vkontakte-hover.png);
    }
}

.socials__list {
    display: flex;
}

.socials__item {
    margin-left: 20px;
}